.base-node {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--node-border);
  border-radius: 8px;
  background: var(--node-bg);
  width: 170px;
  /*max-width: 350px;*/
  padding-top: 8px;
  padding-bottom: 8px;
  /* No horizontal padding here */
}

.base-node:hover{
  border: 2px solid var(--primary-color);
}

.base-node-header {
  display: flex;
  align-items: center;
  padding-left: 12px;   /* Add horizontal padding */
  padding-right: 12px;
}

.base-node-img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border-radius: 20%;
  background: transparent;
}

.base-node-title {
  font-size: 1.1em;
  font-weight: bold;
  color: var(--text-primary);
}

.base-node-svg {
  display: inline-flex;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border-radius: 20%;
  background: transparent;
  color: var(--text-primary);
}
.base-node-svg svg,
.base-node-svg path,
.base-node-svg g {
  width: 100%;
  height: 100%;
  fill: currentColor;
}