

.agent-node {
  border: 2px solid var(--node-border);
  border-radius: 8px;
  background: var(--node-bg);
  width: 200px !important;   
  min-width: 180px;
}

.agent-node-selected {
  box-shadow: 0 0 0 1px #f2be6f;
  border: 3px solid var(--primary-color);
}

.agent-node:hover{
  border: 2px solid var(--primary-color);
}

.agent-node-attributes {
  display: flex;
  flex-direction: column;
  padding: 6px;
}