
.template-node {
  border: 2px solid var(--node-border);
  border-radius: 8px;
  background: var(--node-bg); 
  width: 200px !important;    /* Adjust width as needed */
  min-width: 180px;
}

.template-node-selected {
  box-shadow: 0 0 0 1px #f2be6f;
  border: 2px solid var(--primary-color);
}

.template-node:hover{
  border: 2px solid var(--primary-color);
}

.template-node-input {
  width: 110px;    /* Adjust width as needed */
  padding: 2px 6px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid var(--input-border);
  background: var(--input-bg);
  color: var(--text-primary);
  margin-left: 4px;
}

.template-node-input:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.template-node-attributes {
  display: flex;
  flex-direction: column;
  padding: 6px;
}


.template-metadata-btn {
  margin-top: 8px;
  margin-left: 6px;
  margin-right: 6px;
  padding: 6px 6px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  cursor: pointer;
}
.template-metadata-btn:hover {
  background: #f2be6f;
  border: 1px solid var(--primary-color);
  color: #ffffff
}