.agent-behaviour-edge-path {
  stroke: #6f6b6e !important;
  stroke-width: 2 !important;
  stroke-dasharray: 6 3;
  transition: filter 0.2s;
}

.agent-behaviour-edge-selected {
  stroke: var(--primary-color) !important;
}

.agent-behaviour-edge-label {
  font-size: 13px;
  fill: #6f6b6e;
  font-weight: bold;
  text-anchor: middle;
  dominant-baseline: middle;
  pointer-events: none;
  user-select: none;
}

.agent-behaviour-edge-label-text {
  paint-order: stroke;
  stroke: #fff;
  stroke-width: 4px;
}