.friendship-edge-path {
  stroke: var(--edge-friend) !important;
  stroke-width: 3 !important;
  transition: filter 0.2s;
}

.friendship-edge-selected {
  stroke: var(--primary-color) !important;
}

.friendship-edge-label {
  font-size: 16px;
  fill: var(--edge-friend);
  font-weight: bold;
  text-anchor: middle;
  dominant-baseline: middle;
  pointer-events: none;
  user-select: none;
}

.friendship-edge-label-text {
  paint-order: stroke;
  stroke: var(--edge-label-outline);
  stroke-width: 4px;
}

.friendship-edge-label-emoji {
  font-size: 25px; 
  stroke: none;
  stroke-width: 0;
  dominant-baseline: middle;
}